/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset ends */

@font-face {
	font-family: 'Playwrite-Regular';
	src: url('/fonts/Playwrite-Regular.woff2') format('woff2'), url('/fonts/Playwrite-Regular.woff') format('woff'),
		url('/fonts/Playwrite-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('/fonts/Roboto-Regular.woff2') format('woff2'), url('/fonts/Roboto-Regular.woff') format('woff'),
		url('/fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html,
body {
	font-family: Roboto-Regular, sans-serif;
	height: 100%;
	line-height: 1.25rem;
}

body {
	background-color: #ecdfcc;
}

.footer-container,
.headline-container,
.content-container {
	padding: 4rem 2rem;
}

.headline-container {
	display: flex;
	justify-content: center;
}

.title {
	font-family: Playwrite-Regular, sans-serif;
	font-weight: 600;
	font-size: 3rem;
	color: #605678;
}

.content-container {
	background-color: #8abfa3;
	border: 0.5rem solid #605678;
	flex: 1;
	border-radius: 2rem;
}

.image-container {
	display: flex;
	flex-direction: column;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1rem;
}

.image-wrapper {
	display: flex;
	flex-direction: column;
	width: 30%;
	cursor: pointer;
	position: relative;
}

.image {
	object-fit: cover;
	border-radius: 1rem 1rem 0 0;
}

.image-text-container {
	display: flex;
	align-items: start;
	padding: 1rem;
	background-color: #bbe4ce;
	height: 5rem;
	border-radius: 0 0 1rem 1rem;
	position: relative;
}

.image-text {
	text-align: left;
	word-break: break-word;
}

.image-textarea {
	z-index: 100;
	padding: 0.5rem;
	width: 100%;
	border-radius: 0 0 0.5rem 0.5rem;
	box-sizing: border-box;
	resize: none;
	background-color: #bbe4ce;
	border: none;
}

/* Context Menu */
.context-menu-wrapper {
	position: absolute;
	background-color: #fff;
	display: none;
	z-index: 500;
	width: 12em;
	cursor: default;
	border-radius: 1rem;
}

.context-menu {
	padding: 0.5rem;
}

.context-menu-actions {
	padding: 1rem;
}

/* Media Queries */

/* XS devices - max. 575px */
@media (max-width: 575px) {
	.content-container {
		margin: 0 1em;
	}

	.image-wrapper {
		width: 45%;
	}
}

/* S devices - max. 768px */
@media (max-width: 768px) {
	.image-wrapper {
		width: 90%;
	}
}

/* M devices - min. 768px and max. 991px */
@media (min-width: 768px) and (max-width: 991px) {
	.main-container {
		margin: 0 4em 0 4em;
	}

	.image-wrapper {
		width: 45%;
	}
}

/* M devices - max. 991px */
@media (max-width: 991px) {
}

/* L devices - min. 992px and max. 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
	.main-container {
		margin: 0 6em 0 6em;
	}
}

/* XL devices - min. 1200px and max. 1599px */
@media (min-width: 1200px) and (max-width: 1599px) {
	.main-container {
		margin: 0 8em 0 8em;
	}
}

/* XL devices - min. 1600px */
@media (min-width: 1600px) {
	.main-container {
		margin: 0 12em 0 12em;
	}
}

/* XL-XXL devices - min. 1500px and max. 1919px */
@media (min-width: 1500px) and (max-width: 1919px) {
	.main-container {
		margin: 1rem 20em;
	}
}

/* XXL devices - min. 1920px */
@media (min-width: 1920px) {
	.main-container {
		margin: 3rem 40em;
	}
}
